WebContent/wsdl/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:tns1="http://domain.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://domain.com"/>
   <element name="insertCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertCustomerResponse">
    <complexType>
     <sequence>
      <element name="insertCustomerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCustomerResponse">
    <complexType>
     <sequence>
      <element name="updateCustomerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCustomer">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCustomerResponse">
    <complexType>
     <sequence>
      <element name="deleteCustomerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomer">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerResponse">
    <complexType>
     <sequence>
      <element name="getCustomerReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="retriveCustomerbypId">
    <complexType>
     <sequence>
      <element name="personId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="retriveCustomerbypIdResponse">
    <complexType>
     <sequence>
      <element name="retriveCustomerbypIdReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomers">
    <complexType/>
   </element>
   <element name="getCustomersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCustomersReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://domain.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Person">
    <sequence>
     <element name="DOB" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="personId" nillable="true" type="xsd:int"/>
     <element name="personType" nillable="true" type="xsd:int"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="Customer">
    <sequence>
     <element name="customerId" nillable="true" type="xsd:int"/>
     <element name="nationality" nillable="true" type="xsd:string"/>
     <element name="passportNumber" nillable="true" type="xsd:string"/>
     <element name="person" nillable="true" type="tns1:Person"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomersRequest">

      <wsdl:part element="impl:getCustomers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retriveCustomerbypIdResponse">

      <wsdl:part element="impl:retriveCustomerbypIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertCustomerResponse">

      <wsdl:part element="impl:insertCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retriveCustomerbypIdRequest">

      <wsdl:part element="impl:retriveCustomerbypId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCustomerRequest">

      <wsdl:part element="impl:deleteCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerRequest">

      <wsdl:part element="impl:getCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertCustomerRequest">

      <wsdl:part element="impl:insertCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomersResponse">

      <wsdl:part element="impl:getCustomersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerResponse">

      <wsdl:part element="impl:getCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCustomerResponse">

      <wsdl:part element="impl:deleteCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCustomerRequest">

      <wsdl:part element="impl:updateCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCustomerResponse">

      <wsdl:part element="impl:updateCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerService">

      <wsdl:operation name="insertCustomer">

         <wsdl:input message="impl:insertCustomerRequest" name="insertCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertCustomerResponse" name="insertCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCustomer">

         <wsdl:input message="impl:updateCustomerRequest" name="updateCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCustomerResponse" name="updateCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCustomer">

         <wsdl:input message="impl:deleteCustomerRequest" name="deleteCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCustomerResponse" name="deleteCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomer">

         <wsdl:input message="impl:getCustomerRequest" name="getCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerResponse" name="getCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retriveCustomerbypId">

         <wsdl:input message="impl:retriveCustomerbypIdRequest" name="retriveCustomerbypIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:retriveCustomerbypIdResponse" name="retriveCustomerbypIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomers">

         <wsdl:input message="impl:getCustomersRequest" name="getCustomersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomersResponse" name="getCustomersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerServiceSoapBinding" type="impl:CustomerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retriveCustomerbypId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retriveCustomerbypIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retriveCustomerbypIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerServiceService">

      <wsdl:port binding="impl:CustomerServiceSoapBinding" name="CustomerService">

         <wsdlsoap:address location="http://localhost:8080/AMS/services/CustomerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
