WebContent/wsdl/FlightService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:tns1="http://domain.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://domain.com"/>
   <element name="getLocations">
    <complexType/>
   </element>
   <element name="getLocationsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getLocationsReturn" type="tns1:Location"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertFlight">
    <complexType>
     <sequence>
      <element name="flight" type="tns1:Flight"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_FlightTime">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:FlightTime"/>
    </sequence>
   </complexType>
   <element name="insertFlightResponse">
    <complexType>
     <sequence>
      <element name="insertFlightReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlights">
    <complexType/>
   </element>
   <element name="getFlightsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getFlightsReturn" type="tns1:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlightByNo">
    <complexType>
     <sequence>
      <element name="flightNo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlightByNoResponse">
    <complexType>
     <sequence>
      <element name="getFlightByNoReturn" type="tns1:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlightById">
    <complexType>
     <sequence>
      <element name="flightId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFlightByIdResponse">
    <complexType>
     <sequence>
      <element name="getFlightByIdReturn" type="tns1:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFlight">
    <complexType>
     <sequence>
      <element name="sourceAirport" type="xsd:string"/>
      <element name="destAirport" type="xsd:string"/>
      <element name="departDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFlightResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchFlightReturn" type="tns1:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateFlight">
    <complexType>
     <sequence>
      <element name="flight" type="tns1:Flight"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateFlightResponse">
    <complexType>
     <sequence>
      <element name="updateFlightReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://domain.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.com"/>
   <complexType name="Location">
    <sequence>
     <element name="airportCode" nillable="true" type="xsd:string"/>
     <element name="locationId" nillable="true" type="xsd:int"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="stateCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="FlightTime">
    <sequence>
     <element name="flightDay" nillable="true" type="xsd:string"/>
     <element name="flightTime" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Journey">
    <sequence>
     <element name="dateTime" nillable="true" type="xsd:string"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" nillable="true" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Flight">
    <sequence>
     <element name="airlineName" nillable="true" type="xsd:string"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="flightId" nillable="true" type="xsd:int"/>
     <element name="flightNo" nillable="true" type="xsd:string"/>
     <element name="flightTime" nillable="true" type="impl:ArrayOf_tns1_FlightTime"/>
     <element name="journey" nillable="true" type="tns1:Journey"/>
     <element name="noOfSeats" nillable="true" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFlightByIdResponse">

      <wsdl:part element="impl:getFlightByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateFlightResponse">

      <wsdl:part element="impl:updateFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightByIdRequest">

      <wsdl:part element="impl:getFlightById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFlightResponse">

      <wsdl:part element="impl:searchFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLocationsRequest">

      <wsdl:part element="impl:getLocations" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightsResponse">

      <wsdl:part element="impl:getFlightsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateFlightRequest">

      <wsdl:part element="impl:updateFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertFlightResponse">

      <wsdl:part element="impl:insertFlightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightByNoResponse">

      <wsdl:part element="impl:getFlightByNoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLocationsResponse">

      <wsdl:part element="impl:getLocationsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightByNoRequest">

      <wsdl:part element="impl:getFlightByNo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertFlightRequest">

      <wsdl:part element="impl:insertFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFlightRequest">

      <wsdl:part element="impl:searchFlight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFlightsRequest">

      <wsdl:part element="impl:getFlights" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FlightService">

      <wsdl:operation name="getLocations">

         <wsdl:input message="impl:getLocationsRequest" name="getLocationsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLocationsResponse" name="getLocationsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertFlight">

         <wsdl:input message="impl:insertFlightRequest" name="insertFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertFlightResponse" name="insertFlightResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlights">

         <wsdl:input message="impl:getFlightsRequest" name="getFlightsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFlightsResponse" name="getFlightsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightByNo">

         <wsdl:input message="impl:getFlightByNoRequest" name="getFlightByNoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFlightByNoResponse" name="getFlightByNoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightById">

         <wsdl:input message="impl:getFlightByIdRequest" name="getFlightByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFlightByIdResponse" name="getFlightByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFlight">

         <wsdl:input message="impl:searchFlightRequest" name="searchFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchFlightResponse" name="searchFlightResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateFlight">

         <wsdl:input message="impl:updateFlightRequest" name="updateFlightRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateFlightResponse" name="updateFlightResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FlightServiceSoapBinding" type="impl:FlightService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLocations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLocationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlights">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFlightsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFlightsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightByNo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFlightByNoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFlightByNoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFlightByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFlightByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateFlight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateFlightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateFlightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FlightServiceService">

      <wsdl:port binding="impl:FlightServiceSoapBinding" name="FlightService">

         <wsdlsoap:address location="http://localhost:8080/AMS/services/FlightService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
